<form class="create-form">
  <fieldset>
    <legend>Create something :)</legend>
    <label>Title:</label>
    <input name='title' type='text' placeholder="title" required>
    <br>
    <label>Author:</label>
    <input name='author' type='text' placeholder="name/alias/historical figure">
    <br>
    <label>Body:</label>
    <textarea name='body' placeholder="here goes nothing!" rows="5" required></textarea>
    <br>
    <input type='submit' value='Submit Post'>
  </fieldset>
</form>
