@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Averia Serif Libre';
  src: url('public/Averia_Serif_Libre/AveriaSerifLibre-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Macondo Swash Caps';
  src: url('public/Macondo_Swash_Caps/MacondoSwashCaps-Regular.ttf') format('truetype');
}

html,
body {
  height: 100%;
}

.page-content {
  flex: 1 0 auto;
}

main {
  flex-direction: row-reverse;
  font-family: 'Averia Serif Libre';
}

h1 {
  background-image: url('public/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg');
  font-size: 100px;
  font-family: 'Macondo Swash Caps';
}

.box {
  background-color: $secondary;
}

.user-actions {
  background-color: purple;
}

.sticky-footer {
  flex-shrink: none;
}

/* Other Classes for Page Styling */

body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}
